[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
argcomplete = "*"
colorama = "*"
netmiko = "*"
PTable = "*"
PyYAML = "*"
termcolor = "*"
tablib = {extras = ["pandas"],version = "*"}

[dev-packages]
codecov = "*"
devpi = "*"
docutils = "*"
flake8-blind-except = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-import-order = "*"
flake8-logging-format = "*"
flake8-polyfill = "*"
ipython = "*"
pipenv = "*"
pycodestyle = "*"
pyflakes = "*"
pyOpenSSL = "*"
pysocks = "*"
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
sphinx = "<3.0.4"
pytest-xdist = "<1.32"
tox = "*"
detox = "*"
bandit = "*"
